@import "layout";

html, body{
	height: 100%;
	width: 100%;
	margin: 0;
	padding: 0;
}

body {
	background-color: white;
	font-family: 'Open Sans', sans-serif; // Test files -- change values
}

/* * * * General style section * * * */
a.button {
    -webkit-appearance: button;
    -moz-appearance: button;
    appearance: button;

    text-decoration: none;
    color: initial;
}

/* * * * Login style section * * * */



/* * * * Home style section * * * */



/* * * * Profile page style section * * * */
