@import "layout";

/* Fonts */
$microsoft-font: "Microsoft JhengHei";
//$YuGothic-font: "Yu Gothic";

/* Colours used */
$purple: #993399;
$blue: #1f1646;
$grey-background: #ECF0F1;
$grey-background2: #E1E5E6;
$light-blue: #0389ff;
$delete-red: #e74c3c;

$hr-colour: #C0C0C0;

$nav-font-color: white;
$nav-hover-color: #0389ff;

html, body{
	width: 100%;
	overflow-x:hidden;
	margin: 0;
	padding: 0;
}

body {
	background: white;
	font-family: $microsoft-font, 'Open Sans', sans-serif; // Test files -- change values
}

/* * * * General style section * * * */
a.button {
	 -webkit-appearance: button;
	 -moz-appearance: button;
	 appearance: button;

	 text-decoration: none;
	 color: initial;
}
hr {
	height: 1px;
	margin: 0;
	margin-top: 0.3em;
	margin-bottom: 0.8em;
	border-top: none;
	background: $hr-colour;
}

/* * * * Navigation bar style section * * * */
nav {
	position: relative;
	overflow: hidden;
	font-family: $microsoft-font;
	background: white;

	#logo {
		position: relative;
		width: 200px;
		height: auto;
		margin: 15px 0 15px 10px;
		z-index: 2;
	}

	#bg {
		width: 75%;
		height: auto;

		position: absolute;
		top: 0;
		right: 0;
		z-index: 0;
	}

	div {
		background: $blue;
		font-size: 1.4em;
		position: relative;
		z-index: 2;

		ul {
			list-style: none;
			display: inline-block;
			padding: 10px;
			padding-left: 85px;
			margin: 0;

			li {
				display: inline-block;
				line-height: 20px;

				a {
					text-decoration: none;
					display: block;
					color: $nav-font-color;
					padding: 8px 24px;
				}
				a:hover {
					text-decoration: none;
					color: $nav-hover-color;
				}
			}
		}

		#logout {
			display: inline-block;
			padding: 15px;
			color: $nav-font-color;
			margin-right: 50px;
			float: right;
		}

		#logout:hover {
			text-decoration: none;
			color: $nav-hover-color;
		}
	}
}

/* * * * Footer style section * * * */
footer {
	width: 100%;
	height: 105px;
	background: $blue;
	color: $nav-font-color;
	text-align: center;
	padding: 15px;
	font-family: "Microsoft JhengHei";
	position: relative;
	bottom: 0;

	ul {
		list-style: none;
		display: inline;
		text-align: center;
		padding-left: 0;

		li {
			display: inline-block;
			text-align: center;
			margin: 12px;

			a {
				text-decoration: none;
				padding: 0;
				display: block;
				color: $nav-font-color;
			}
			a:hover { color: $nav-font-color; }
		}
		//li+li { border-left: 0.5px solid #ffffff; }
	}

	#footer-bottom { text-align: center; text-transform: uppercase; font-size: .8em; }

	#footer-right {
		padding-top: 10px;
		text-align: right;

		p { color: $nav-font-color; margin-top: 0; font-size: .7em; }
		img { width: 150px; height: auto; }
	}
}

@media (max-width: 767px) {
	footer {
		height: 260px;
		#footer-right { padding-top: 10px; text-align: center; }
	}
}
@media (min-width: 768px) and (max-width: 1135px) {
	footer {
		height: 200px;
		#footer-right { padding-top: 20px; text-align: center; }
	}
}

/* * * * Login style section * * * */
#login-container, #change-password, #reset-pass {
	width: 50%;
	background: $grey-background2;
	color: $blue;
	font-family: $microsoft-font;
	margin: 100px auto;
	padding-top: 20px;
	border-radius: 4px;

	h1 {
		padding-top: 20px;
		margin-top: 0;
		text-align: center;
		font-size: 2.8em;
		margin-bottom: 0;
	}

	form {
		padding: 0 10px 20px 20px;

		p { margin: 10px 70px 0 70px; }

		label {
			display: block;
			font-size: 1.2em;
			font-weight: 900;
		}

		input[type=text], input[type=password] {
			width: 100%;
			margin-top: 8px;
			padding: 8px 12px 8px 12px;
			border: 1px solid transparent;
			border-radius: 4px;
		}

		input[type=text]:focus, input[type=password]:focus { border: 1px solid $light-blue; }

		.row {
			margin-right: 70px;
			margin-left: 70px;
			p { padding: 0; margin-right: 0; margin-left: 0; }
			label { display:inline; font-size: 1em; }
		}

		input[type=checkbox] {
			vertical-align: middle;
			color: #ffffff;
			height: 1.15em;
			width: 1.15em;
			margin-left: 7px;
			cursor: pointer;
		}

		a {
			text-decoration: underline;
			margin-top: 6px;
			padding-right: 0;
			text-align: right;
			color: $light-blue;
		}
		a:hover { color: $blue; }

		input[type=submit] {
			background: $light-blue;
			color: #fff;
			text-transform: uppercase;
			font-weight: 900;
			padding: 10px 16px 10px 16px;
			margin-top: 15px;
			border: none;
			border-radius: 6px;
			box-shadow: none;
		}
		input[type=submit]:hover { background: $blue; }

		#submit-row {
			margin-right: 0;
		}
	}
}

#login-logo {
	display: inline-block;
	text-align: right;
	margin-right: 20px;
	margin-top: 20px;
	float: right;

	img { height: 35px; width: 135px; }
	p { margin-right: 0; font-size: .8em; }
}

@media (max-width: 768px) {
	body { background: $grey-background2; }
	#login-container {
		width: 100%;
		margin-top: 0px;

		form {
			padding: 0 10px 20px 20px;

			p { margin: 10px 10px 0 10px; }

			.row { margin-right: 10px; margin-left: 10px; }

			input[type=submit] {
				padding: 12px 55px 12px 55px;
				margin: 15px auto;
				display: block;
				text-align: center;
			}
		}
	}
}
.g-button {
	background: $light-blue;
	color: #fff;
	text-transform: uppercase;
	text-decoration: none;
	text-align: center;
	font-weight: 900;
	padding: 10px 16px 10px 16px;
	margin-top: 15px;
	border: none;
	border-radius: 6px;
	box-shadow: none;
}
.g-button:hover { background: $blue; color: #fff; text-decoration: none; }

/* * * * Home style section * * * */
#home-page {
	background: $grey-background2;

	.container:first-child {
		width: 90%;
	}
}

.home-container {
	padding: 1em;
	min-height: 16em;

	h2 {
		padding-top: 5px;
		margin-top: 0;
		text-align: left;;
		font-size: 1.8em;
		margin-bottom: 0;
		color: $blue;
	}
	hr {
		height: 2px;
		margin-top: 0;
	}
	.content {
		background: #ffffff;
		padding: 1.2em;
		min-height: 14em;

		#notification-set {
			hr {
				height: 0.5px;
				width: 100%;
				margin: 0;
			}
		}
	}
}

.notification {
	p {
		margin-top: 0.2em;
		margin-bottom: 0.4em;
		font-weight: 900;
		display: inline-block;
	}
	.not-date {
		color: $grey-background2;
		font-weight: 600;
		float: right;
	}
}

#date {
	text-align: center;
	color: $blue;
	hr { margin-bottom: 0; }

	#day {
		font-size: 0.8em;
	}
	#month, #time {
		display: block;
		font-size: 1.2em;
		margin: 0;
	}
	#num-day {
		display: block;
		font-size: 3.2em;
		font-weight: 900;
		margin: 0;
	}
}

/* * * * Profile page style section * * * */
.container-block {
	background: $grey-background;
	padding: 20px;
}

#skills {
	color: $blue;
	padding: 20px 30px 30px 30px;

	.row {
		margin: 0 20px 0 5px;
		position: relative;
	}

	h1 {
		display: inline;
		margin-bottom: 0;
		-webkit-margin-after: 0;
	}

	#skill-set {
		label {
			display: block;
		}
		select {
			width: 40%;
			margin-top: 8px;
			padding: 8px 12px 8px 12px;
			border: 1px solid $light-blue;
			border-radius: 4px;
			font-weight: 900;
		}
	}

	#skill-add {
		visibility: hidden;
		display: none;
		background: $grey-background2;
		padding: 1em 2em;
	}
}

.skill-span {
	display: inline-block;
	position: relative;
	color: $blue;
	font-family: $microsoft-font;
	padding: 5px 18px 5px 18px;
	margin: 5px;
	border: 2px solid $grey-background2;
	border-radius: 8px;
	font-weight: 900;

	.delete-tag {
		cursor: pointer;
		padding: 3px;
		position: relative;
		right: -10px;
		display: none;
	}

}

#userProfile {

	hr { margin-top: 0; }

	.edit-button {
		position: absolute;
		bottom: 5px;
		right: 0;
		padding: 0!important;
		border: none;
		display: inline;
		float: right;
		color: $light-blue;
		background: none!important;
		outline: none;
		outline-offset: 0;
		outline-color: transparent;
	}
	.edit-button:hover { text-decoration: underline; }

	#personal-details {
		color: $blue;
		margin-top: 1em;
  		border-right: 1px solid $hr-colour;

  		div {
  			margin-left: 3em;
  		}

		#staff-type {
			font-size: 1.5em;
			margin-top: 0.6em;
			margin-bottom: 0.6em;
			font-weight: 600;
		}

  		hr {
  			margin-top: 2em;
  			margin-bottom: 1em;
  		}

  		.g-button {
  			display: block;
  			margin: 0 auto;
  			margin-bottom: 20px;
  		}
	}

	form {

		input[type=text]:focus { border: 1px solid $light-blue; }

		.row {
			margin-right: 70px;
			margin-left: 70px;
			p { padding: 0; margin-right: 0; margin-left: 0; }
			label { display:inline; font-size: 1em; }
		}

		input[type=submit] {
			background: $light-blue;
			color: #fff;
			text-transform: uppercase;
			font-weight: 900;
			padding: 10px 16px 10px 16px;
			margin-top: 15px;
			border: none;
			border-radius: 6px;
			box-shadow: none;
		}
		input[type=submit]:hover { background: $blue; }
	}

	#UPContainer {
		width: 100%;
		background: $grey-background2;
		color: $blue;
		font-family: $microsoft-font;
		margin: 10px auto;
		border-radius: 4px;
	}

	#experience {
		color: $blue;
		font-family: $microsoft-font;
		margin: 4em auto;

		#exp-row {
			position: relative;
			margin: 0 20px 0 5px;

			button {
				right: 40px;
			}
		}

		.date-row {
			margin: 0.8em 1em;
			display: flex;
			justify-content: flex-end;
			align-items: center;
		}
		.sub-row {
			display: flex;
			justify-content: flex-end;
			align-items: center;
			padding-top: 10px;
		}

		h1 {
			display: inline;
		    margin-bottom: 0;
		    -webkit-margin-after: 0;
		}

		.container-box {
			background: $grey-background2;
			width: 100%;
			text-align: left;
			border-radius: 0.5em;
		}

		form {
			input[type=text] {
				width: 70%;
				margin-top: 8px;
				padding: 8px 12px 8px 12px;
				border: 1px solid transparent;
				border-radius: 4px;
			}
			input[type=text]:focus { border: 1px solid $light-blue; }

			input[type=date] {
				text-align: left;
				padding: 8px 12px 8px 12px;
				border: 1px solid transparent;
				border-radius: 4px;
			}

			textarea {
				width: 100%;
				height: 5.5em;
				margin-top: 8px;
				padding: 8px 12px 8px 12px;
				border: 1px solid transparent;
				border-radius: 4px;
			}

			.row {
			margin-right: 1.2em;
			margin-left: 1.2em;
			}
			label {
				display: block;
				font-size: 1.2em;
				font-weight: 900;
				margin-top: 8px;
			}
		}
	}

	#experience-add {
		visibility: hidden;
		display: none;
	}
}

#experience-set {

	#experiences {
		padding: 0.7em 1.5em;
	}

	hr {
		margin: 0.5em 0;
	}

	.experience-box {
		padding: 1em;
		border-radius: 0.5em;
		position: relative;

		h2 {
			margin: 0;
			font-weight: 900;
		}
		span {
			text-align: right;
		}

		.title {
			font-size: 1em;
			margin-top: 0.8em;
			margin-bottom: 0.8em;
			font-weight: 700;
		}

		.delete-experience-tag {
			text-transform: none;
			position: absolute;
			right: 1.1em;
			bottom: 1.1em;
			display: none;
			visibility: none;
		}
		.delete-experience-tag:hover {
			background: $delete-red;
		}
	}
	 .experience-box:hover {
		background: $grey-background;
	}
}


/* * * * Create new project page style section * * * */

/* * * * Create new project page and allocate resources style section * * * */
#newProject {

	padding: 20px 30px 30px 30px;

	#NPcontainer {
		width: 100%;
		background: $grey-background2;
		color: $blue;
		font-family: $microsoft-font;
		margin: 80px auto;
		border-radius: 4px;
		text-align: left;
		padding: 1em;

	}

	label, p {
	display: block;
	font-size: 1.2em;
	font-weight: 900;
	}

	.container-box {
		background: $grey-background2;
		width: 95%;
		margin: 10px auto;
		padding: 1em;
		text-align: left;
		border-radius: 4px;
	}

	h1 {
		padding-top: 20px;
		margin-top: 0;
		text-align: center;
		font-size: 2.8em;
		margin-bottom: 0;
	}

	h2 {
		padding-top: 5px;
		margin-top: 0;
		text-align: left;;
		font-size: 1.8em;
		margin-bottom: 0;
	}

	hr {
		height: 2px;
	}

	.date-row {
		margin: 0.8em 1em;
		display: flex;
		justify-content: flex-end;
		align-items: center;
	}

	button {
		background: $light-blue;
		color: #fff;
		text-transform: uppercase;
		font-weight: 900;
		font-size: 0.9em;
		padding: 8px 12px 8px 12px;
		border: none;
		border-radius: 4px;
		box-shadow: none;
	}
	button:hover { background: $blue; }
	button:focus { background: $light-blue; }

	form {
		padding: 10px 10px 20px 20px;

		input[type=text] {
			width: 80%;
			margin-top: 8px;
			padding: 8px 12px 8px 12px;
			border: 1px solid transparent;
			border-radius: 4px;
		}
		input[type=text]:focus { border: 1px solid $light-blue; }

		input[type=submit] {
			background: $light-blue;
			color: #fff;
			text-transform: uppercase;
			font-weight: 900;
			padding: 10px 38px;
			margin-top: 30px;
			border: none;
			border-radius: 6px;
			box-shadow: none;
		}

		input[type=date] {
			width: 70%;
			text-align: left;
			padding: 8px 12px 8px 12px;
			border: 1px solid transparent;
			border-radius: 4px;
		}

		input[type=submit]:hover { background: $blue; }

		textarea {
		width: 90%;
		margin-top: 8px;
		padding: 8px 12px 8px 12px;
		border: 1px solid transparent;
		border-radius: 4px;
		}

		.row {
			margin-right: 1.5em;
			margin-left: 1.5em;
		}

		label {
			display: block;
			font-size: 1.2em;
			font-weight: 900;
			margin-top: 8px;
		}

		select {
		width: 40%;
		margin-top: 8px;
		padding: 8px 12px 8px 12px;
		border: 1px solid $light-blue;
		border-radius: 4px;
		font-weight: 900;
		}
	}
}

/* * * * addSkills page style section * * * */
#addSkill {
	#ASContainer {
	width: 50%;
	background: $grey-background2;
	color: $blue;
	font-family: $microsoft-font;
	margin: 10px auto;
	border-radius: 4px;
	}

	h1 {
		padding-top: 20px;
		margin-top: 0;
		text-align: center;
		font-size: 2.8em;
		margin-bottom: 0;
	}
	p { margin: 10px 70px 0 70px; }

	form {
		padding: 0 10px 20px 20px;

		p { margin: 10px 70px 0 70px; }

		label {
			display: block;
			font-size: 1.2em;
			font-weight: 900;
		}

		input[type=text] {
			width: 100%;
			margin-top: 8px;
			padding: 8px 12px 8px 12px;
			border: 1px solid transparent;
			border-radius: 4px;
		}

		input[type=text]:focus { border: 1px solid $light-blue; }

		.row {
			margin-right: 70px;
			margin-left: 70px;
			p { padding: 0; margin-right: 0; margin-left: 0; }
			label { display:inline; font-size: 1em; }
		}
		#submit-row {
			margin-right: 0;
		}
	}
	input[type=submit] {
		background: $light-blue;
		color: #fff;
		text-transform: uppercase;
		font-weight: 900;
		padding: 10px 16px 10px 16px;
		margin-top: 15px;
		border: none;
		border-radius: 6px;
		box-shadow: none;
	}
	input[type=submit]:hover { background: $blue; }

		textarea {
		width: 100%;
		margin-top: 8px;
		margin-left: 12px;
		padding: 8px 12px 8px 12px;
		border: 1px solid transparent;
		border-radius: 4px;
	}
}

/* * * * Search page style section * * * */

#search {
	width: 80%;
	color: $blue;
	font-family: $microsoft-font;
	margin: 80px auto;

	h1 {
		text-align: center;
		font-size: 2.8em;
	}
	h2 {
		font-size: 2.0em;
		margin-top: 0.3em;
		margin-bottom: 0;
	}
	button {
		background: $light-blue;
		color: #fff;
		text-transform: uppercase;
		font-weight: 900;
		font-size: 0.9em;
		padding: 8px 12px 8px 12px;
		border: none;
		border-radius: 4px;
		box-shadow: none;
	}
	button:hover { background: $blue; }
	button:focus { background: $light-blue; }

	.container-box {
		background: $grey-background2;
		width: 95%;
		margin: 10px auto;
		padding: 1em;
		text-align: center;
	}

	hr {
		height: 0.5px;
		margin-top: 0.2em;
	}

	form {
		input[type=text] {
			margin-top: 8px;
			padding: 8px 12px 8px 12px;
			border: 1px solid transparent;
			border-radius: 4px;
		}
		input[type=text]:focus { border: 1px solid $light-blue; }

		input[type=submit] {
			background: $light-blue;
			color: #fff;
			text-transform: uppercase;
			font-weight: 900;
			padding: 10px 38px;
			margin-top: 15px;
			border: none;
			border-radius: 6px;
			box-shadow: none;
		}
		input[type=submit]:hover { background: $blue; }

		input[type=checkbox] {
			vertical-align: middle;
			color: #ffffff;
			height: 1.15em;
			width: 1.15em;
			margin-left: 7px;
			cursor: pointer;
		}
	}
}

section#quick-search{
	margin: 20px auto;
	background: $grey-background2;

	input[type=text] { width: 60%; }
}

#advanced-search{
	width: 100%;
	text-align: left;
	padding: 0 1em 1em 1em;
	display: none;

	.container-fluid {
		margin: 0 auto;
		text-align: center;

		div { text-align: left; }

		p {
			width: 85%;
			margin: 5px auto;
		}

		label {
			font-size: 1.2em;
			font-weight: 900;
		}

		input[type=text] {
			width: 90%;
		}

		input[type=date] {
			text-align: left;
			padding: 8px 12px 8px 12px;
			border: 1px solid transparent;
			border-radius: 4px;
		}

		select {
			width: 60%;
			margin-top: 8px;
			padding: 8px 12px 8px 12px;
			border: 1px solid transparent;
			border-radius: 4px;
			font-weight: 900;
		}

		.date-row {
			margin: 0.8em 1em;
			display: flex;
			justify-content: flex-end;
			align-items: center;

			label {
				display: block;
				text-align: right;
			}
		}
	}
}

#search-results {
	margin-top: 3em;
	display: none;

	hr { margin-bottom: 1em; }

	#results {
		padding: 0 1em;
	}
}

.project-result {
	color: $blue;
	text-decoration: none;
	display: block;
	padding: 1em 2em;
	border: thin solid $grey-background2;

	div.row {
		display: flex;
		min-height: 100%;
		flex-direction: row;
	}

	hr { margin-bottom: 0.7em; }

	h3 {
		margin: 0;
		font-size: 1.5em;
	}
	h5 {
		margin-top: 0;
		margin-bottom: 0.6em;
		font-weight: 900;
		font-size: 1em;
	}
	span {
		text-align: right;
	}
	p {
		margin-top: 0;
	}
	button {
		padding: 8px 18px;
		margin-right: 15px;
		margin-bottom: 0.5em;
		position: absolute;
		bottom: 0;
		right: 0;
	}
	div.col-md-2 {
		text-align: right;
		position: relative;
	}
}
.project-result:hover {
	text-decoration: none;
}
.project-result:not(:last-child) {
	margin-bottom: 1em;
}

/**** My projects section - Aisha code here ****/

#current-projects {
  	font-family: $microsoft-font;
  	color: $blue;
	margin: 3em auto;
	width: 80%;

    h1 {
        margin: 0 0 0 10px;
        font-size: 2.4em;
    }

    #dropdown-menu {
        margin: 0.8em 1em;
        position: relative;
        right: 0px;

        label {
            font-size: 1.2em;
		    font-weight: 900;
		    position: relative;
		    right: 0px;
        }
    }

	.projects {
		padding: 2em;
		display: block;
        background: $grey-background2;

		a {
			display: block;
		}
		.project-result {
			background: #ffffff;
			border: 1px solid $hr-colour;
			border-radius: 4px;
			padding: 1.6em;

			p {
				margin-bottom: 0;
			}
		}
	}
}

/**** Project Dashboard section - Daniel code here ****/
#project-dashboard {
	width: 80%;
	color: $blue;
	font-family: $microsoft-font;
	margin: 80px auto;
	font-size: 1.2em;
		h1{
			text-align: center;
			font-size: 2em;

		}
		h2{
			text-align: center;
			font-size: 1.6em;
		}
		th{
			font-size: 1.6em;
			text-align: left;
			width:25%;
		}
		input[type=submit] {
			background: $light-blue;
			color: #fff;
			text-transform: uppercase;
			font-weight: 900;
			padding: 10px 38px;
			margin-top: 15px;
			border: none;
			border-radius: 6px;
			box-shadow: none;
		}
	#bottomtotal{
		text-align: right;
		font-size: 1.6em;
	}
	#toptableleft{
		width: 50%;
		text-align: left;
	}
	#toptableright{
		width: 50%;
		text-align: right;
	}
}
