@import "layout";

/* Fonts */
$font: "Microsoft JhengHei";
//$YuGothic-font: "Yu Gothic";

/* Colours used */
$purple: #993399;
$blue: #1f1646;
$grey-background: #ECF0F1;
$grey-background2: #E1E5E6;
$light-blue: #0389ff;
$delete-red: #e74c3c;
$go-green: #2ecc71;

$hr-colour: #C0C0C0;

$nav-font-color: white;
$nav-hover-color: #0389ff;

/* Others */
$footer-height: 9em;

html, body{
	width: 100%;
	height: 100%;
	margin: 0;
	padding: 0;
}

body {
	background: white;
	font-family: $font, 'Open Sans', sans-serif; // Test files -- change values
}

#html {
	min-height: 100%;
	position: relative;
}
#html-body {
	padding-bottom: $footer-height;
	position: relative;
}

/* * * * General style section * * * */
a.button {
	 -webkit-appearance: button;
	 -moz-appearance: button;
	 appearance: button;

	 text-decoration: none;
	 color: initial;
}
hr {
	height: 1px;
	margin: 0;
	margin-top: 0.3em;
	margin-bottom: 0.8em;
	margin-left: auto;
	margin-right: auto;
	border: 0 none;
	color: $hr-colour;
	background: $hr-colour;
}

.error-msg {
	display: block;
	margin: 0 0.5em;
	color: $delete-red;
}
.error-field {
	border: 1px solid $delete-red !important;
}

.scroll-button {
	background: none !important;
	border: none !important;
}
.scroll-button:hover {
	color: $light-blue !important;
}

#scroll-up {
	color: $blue !important;
	padding: 0 !important;
	position: fixed;
	bottom: 1em;
	left: 0.5em;
	font-size: 4em !important;
}
#scroll-up:focus, #scroll-up:active {
	color: $blue !important;
	outline: none;
}

/* * * * Navigation bar style section * * * */
nav {
	position: relative;
	overflow: hidden;
	font-family: $font;
	background: white;

	#logo {
		position: relative;
		width: 200px;
		height: auto;
		margin: 15px 0 15px 10px;
		z-index: 2;
	}

	#bg {
		width: 75%;
		height: auto;
		position: absolute;
		top: 0;
		right: 0;
		z-index: 0;
	}

	div {
		background: $blue;
		font-size: 1.4em;
		line-height: 20px;
		position: relative;
		z-index: 2;

		ul {
			list-style: none;
			display: inline-block;
			padding: 10px;
			padding-left: 3em;
			margin: 0;
			cursor: default;

			li {
				float: none;
				display: inline-block;
				margin: 0 5px;
				padding: 0;

				.scroll-button {
					padding: 0 24px;
					font-size: 1.3em;
				}

				a {
					text-decoration: none;
					text-align: center;
					display: block;
					float: left;
					color: $nav-font-color;
					padding: 4px;
					margin: 0 5px;
					-webkit-transition: all ease 0.8s;
				    -moz-transition: all ease 0.8s;
				    transition: all ease 0.8s;
					border-bottom: 2px solid $blue;
				}
				a:hover, a.active {
					color: $nav-font-color;
					text-decoration: none;
					border-bottom: 2px solid $nav-font-color;
				}
			}
		}

		span {
			color: $nav-font-color;
			padding: 15px;
			margin-right: 50px;
			float: right;
		}

		#logout {
			display: inline-block;
			padding: 15px;
			color: $nav-font-color;
			margin-right: 50px;
			float: right;
		}

		#logout:hover {
			text-decoration: none;
			color: $nav-hover-color;
		}
	}
}

/* * * * Footer style section * * * */
footer {
	width: 100%;
	height: $footer-height;
	background: $blue;
	color: $nav-font-color;
	text-align: center;
	padding: 1.5em;
	font-family: $font;
	position: absolute;
	bottom: 0;

	ul {
		list-style: none;
		display: inline;
		text-align: center;
		padding-left: 0;

		li {
			display: inline-block;
			text-align: center;
			margin: 12px;

			a {
				text-decoration: none;
				padding: 0;
				display: block;
				color: $nav-font-color;
			}
			a:hover { color: $nav-font-color; }
		}
		//li+li { border-left: 0.5px solid #ffffff; }
	}

	#footer-bottom { text-align: center; text-transform: uppercase; font-size: .8em; }

	#footer-right {
		padding-top: 10px;
		text-align: right;

		p { color: $nav-font-color; margin-top: 0; font-size: .7em; }
		img { width: 150px; height: auto; }
	}
}

@media (max-width: 767px) {
	#html-body { padding-bottom: 21em; }
	footer {
		height: 21em;
		#footer-right { padding-top: 10px; text-align: center; }
	}
}
@media (min-width: 768px) and (max-width: 992px) {
	#html-body { padding-bottom: 16em; }
	footer {
		height: 16em;
		#footer-right { padding-top: 20px; text-align: center; }
		#footer-center { padding-left: 15px; padding-right: 15px; }
	}
}
@media (min-width: 993px) and (max-width: 1135px) {
	#html-body { padding-bottom: 10em; }
	footer {
		height: 10em;
		#footer-right { padding-top: 20px; }
		#footer-center { padding-left: 30px; padding-right: 0; }
	}
}

/* * * * Login style section * * * */
#login-container, #change-password, #reset-pass {
	width: 50%;
	background: $grey-background2;
	color: $blue;
	font-family: $font;
	margin: 100px auto;
	padding-top: 20px;
	border-radius: 4px;

	h1 {
		padding-top: 20px;
		margin-top: 0;
		text-align: center;
		font-size: 2.8em;
		margin-bottom: 0;
	}

	form {
		padding: 0 10px 20px 20px;

		p { margin: 10px 70px 0 70px; }

		label {
			display: block;
			font-size: 1.2em;
			font-weight: 900;
		}

		input[type=text], input[type=password] {
			width: 100%;
			margin-top: 8px;
			padding: 8px 12px 8px 12px;
			border: 1px solid transparent;
			border-radius: 4px;
		}

		input[type=text]:focus, input[type=password]:focus { border: 1px solid $light-blue; }

		.row {
			margin-right: 70px;
			margin-left: 70px;
			p { padding: 0; margin-right: 0; margin-left: 0; }
			label { display:inline; font-size: 1em; }
		}

		input[type=checkbox] {
			vertical-align: middle;
			color: #ffffff;
			height: 1.15em;
			width: 1.15em;
			margin-left: 7px;
			cursor: pointer;
		}

		a {
			text-decoration: underline;
			margin-top: 6px;
			padding-right: 0;
			text-align: right;
			color: $light-blue;
		}
		a:hover { color: $blue; }

		input[type=submit] {
			background: $light-blue;
			color: #fff;
			text-transform: uppercase;
			font-weight: 900;
			padding: 10px 16px 10px 16px;
			margin-top: 15px;
			border: none;
			border-radius: 6px;
			box-shadow: none;
		}
		input[type=submit]:hover { background: $blue; }

		#submit-row {
			margin-right: 0;
		}
	}
}

#login-logo {
	display: inline-block;
	text-align: right;
	margin-right: 20px;
	margin-top: 20px;
	float: right;

	img { height: 35px; width: 135px; }
	p { margin-right: 0; font-size: .8em; }
}

@media (max-width: 768px) {
	#login-container {
		width: 100%;
		margin-top: 0px;

		form {
			padding: 0 10px 20px 20px;

			p { margin: 10px 10px 0 10px; }

			.row { margin-right: 10px; margin-left: 10px; }

			input[type=submit] {
				padding: 12px 55px 12px 55px;
				margin: 15px auto;
				display: block;
				text-align: center;
			}
		}
	}
}
.g-button {
	background: $light-blue;
	color: #fff;
	text-transform: uppercase;
	text-decoration: none;
	text-align: center;
	font-weight: 900;
	padding: 10px 16px 10px 16px;
	margin-top: 15px;
	border: none;
	border-radius: 6px;
	box-shadow: none;
	display: block;
}
.g-button:hover { background: $blue; color: #fff; text-decoration: none; }

/* * * * Home style section * * * */
#home-page {

	.container:first-child {
		width: 90%;
	}
}

.home-container {
	padding: 1em;
	min-height: 16em;

	h2 {
		padding-top: 5px;
		margin-top: 0;
		text-align: left;;
		font-size: 1.8em;
		margin-bottom: 0;
		color: $blue;
	}
	hr {
		height: 2px;
		margin-top: 0;
	}
	.content {
		background: #ffffff;
		padding: 1.2em;
		min-height: 14em;

		#notification-set {
			hr {
				height: 0.5px;
				width: 100%;
				margin: 0;
			}
		}

		#recommended-projects {
			padding: 0 1.2em;

			.recommended-project {
				display: block;
				color: #000000;
				padding: 0 0.8em;
				cursor: default;

				div {
					border: thin solid $grey-background2;
					padding: 1em;
					border-radius: 4px;
					cursor: pointer;
				}

				h5 {
					margin: 0;
					font-size: 1.2em;
					font-weight: 900;
				}

				hr {
					height: 1px;
				}

				p {
					margin: 0.5em 0;
				}

				.location {
					font-size: 0.9em;
					font-weight: 700;
				}

				span {
					font-size: 0.85em;
				}
				div:hover {
					text-decoration: none;
					background: $grey-background2;
				}
			}
			.recommended-project:hover {
				text-decoration: none;
			}
		}
	}
}

.notification {
	width: 100%;

	p {
		margin-top: 0.2em;
		margin-bottom: 0.4em;
		font-weight: 900;
		display: inline-block;
	}
	.not-date {
		color: $hr-colour;
		font-weight: 600;
		font-size: 0.9em;
	}
}

#date {
	text-align: center;
	color: $blue;
	hr { margin-bottom: 0; }

	#day {
		font-size: 0.8em;
	}
	#month, #time {
		display: block;
		font-size: 1.2em;
		margin: 0;
	}
	#num-day {
		display: block;
		font-size: 3.2em;
		font-weight: 900;
		margin: 0;
	}
}

/* * * * Profile page style section * * * */
.container-block {
	background: $grey-background;
	padding: 20px;
}

#skills {
	color: $blue;
	padding: 20px 30px 30px 30px;

	.row {
		margin: 0 20px 0 5px;
		position: relative;
	}

	form {
		p { margin-bottom: 0; }
	}

	h1 {
		display: inline;
		margin-bottom: 0;
		-webkit-margin-after: 0;
	}

	h3 {
		font-size: 1.3em;
		margin: 1em 0 0.2em 0;
	}

	#skill-set {
		label {
			display: block;
		}
	}

	#add-skill-form {
		display: none;
		background: $grey-background2;
		padding: 1em 2em;
	}
}

.skill-span, .skill-span-b {
	display: inline-block;
	position: relative;
	color: $blue;
	font-family: $font;
	padding: 5px 18px 5px 18px;
	margin: 5px;
	border: 2px solid $grey-background2;
	border-radius: 8px;
	font-weight: 900;

	.delete-tag {
		cursor: pointer;
		padding: 3px;
		position: relative;
		right: -10px;
		display: none;
	}
}
.skill-span-b {
	background: #ffffff;
	border: 1px solid transparent;
}
.delete-hover {
	color: #ffffff;
	background: $delete-red;
	border: 2px solid $delete-red;
}
.undo-skill-span {
	display: inline-block;
	color: $blue;
	font-family: $font;
	padding: 5px 18px;
	margin: 5px;
	border: 2px solid $grey-background2;
	border-radius: 8px;
	font-weight: 900;
}
.undo-skill-span:hover {
	cursor: pointer;
	color: #ffffff;
	background: $go-green;
	border: 2px solid $go-green;
}

#profile {

	hr { margin-top: 0; }

	.edit-button {
		position: absolute;
		bottom: 5px;
		right: 0;
		padding: 0!important;
		border: none;
		display: inline;
		float: right;
		color: $light-blue;
		background: none!important;
		outline: none;
		outline-offset: 0;
		outline-color: transparent;
	}
	.edit-button:hover { text-decoration: underline; }

	#personal-details {
		color: $blue;
		margin-top: 1em;
  		border-right: 1px solid $hr-colour;

  		div {
  			margin-left: 3em;
  		}

		#staff-type {
			font-size: 1.5em;
			margin-top: 0.6em;
			margin-bottom: 0.6em;
			font-weight: 600;
		}

  		hr {
  			margin-top: 2em;
  			margin-bottom: 1em;
  		}

  		.g-button {
  			display: block;
  			margin: 0 auto;
  			margin-bottom: 20px;
  		}
	}

	form {

		input[type=text]:focus { border: 1px solid $light-blue; }

		.row {
			margin-right: 70px;
			margin-left: 70px;
			p { padding: 0; margin-right: 0; margin-left: 0; }
			label { display:inline; font-size: 1em; }
		}

		input[type=submit] {
			background: $light-blue;
			color: #fff;
			text-transform: uppercase;
			font-weight: 900;
			padding: 10px 16px 10px 16px;
			margin-top: 15px;
			border: none;
			border-radius: 6px;
			box-shadow: none;
		}
		input[type=submit]:hover { background: $blue; }

		select {
			width: 40%;
			margin-top: 8px;
			padding: 8px 12px 8px 12px;
			border: 1px solid transparent;
			border-radius: 4px;
			font-weight: 900;
			background: #fff;
		}
		select:focus { border: 1px solid $light-blue; }
	}

	#experience {
		width: 80%;
		font-size: 1.2em;
		color: $blue;
		font-family: $font;
		margin: 2em auto;

		#exp-row {
			position: relative;
			margin: 0 20px 0 5px;

			button {
				right: 40px;
			}
		}

		.date-row {
			margin: 0.8em 1em;
			display: flex;
			justify-content: flex-end;
			align-items: center;
		}
		.sub-row {
			display: flex;
			justify-content: flex-end;
			align-items: center;
			padding-top: 10px;
		}

		h1 {
			display: inline;
		    margin-bottom: 0;
		    -webkit-margin-after: 0;
		}

	}

	form {
		input[type=text], input[type=date] {
			width: 70%;
			margin-top: 8px;
			padding: 8px 12px;
			border: 1px solid transparent;
			border-radius: 4px;
		}
		input[type=text]:focus, input[type=date]:focus { border: 1px solid $light-blue; }

		input[type=date] {
			width: 100%;
		}

		textarea {
			width: 100%;
			margin-top: 8px;
			padding: 8px 12px;
			border: 1px solid transparent;
			border-radius: 4px;
		}

		label {
			display: block;
			font-weight: 900;
			margin-top: 8px;
		}
	}

	#add-experience-form {
		background: $grey-background2;
		padding: 1em 3em;
		margin: 1em 0;
		border-radius: 4px;
		display: none;

		h2 {
			margin: 0;
		}
		.row {
			margin: 0;
		}

		label {
			display: block;
		}

		.experience-skills-delete {
			cursor: pointer;
			padding: 3px;
			position: relative;
			right: -10px;
		}
	}
}

#experience-set {

	#experiences {
		padding: 0.7em 1.5em;
	}

	hr {
		margin: 0.5em 0;
	}

	.experience-box {
		padding: 1em;
		border-radius: 0.5em;
		position: relative;

		h2 {
			margin: 0;
			font-weight: 900;
		}
		span {
			text-align: right;
		}

		.title {
			font-size: 1em;
			margin-top: 0.8em;
			margin-bottom: 0.8em;
			font-weight: 700;
		}

		.delete-experience-tag {
			text-transform: none;
			position: absolute;
			right: 1.1em;
			bottom: 1.1em;
			display: none;
			visibility: none;
		}
		.delete-experience-tag:hover {
			background: $delete-red;
		}
	}
	 .experience-box:hover {
		background: $grey-background;
	}
}

/* * * * Change password page style section * * * */
#change-password {
	width: 70%;
	max-width: 70%;
}

/* * * * Create new project page style section * * * */
#create-project {
	padding: 1em 2em 4em 2em;

	h1 {
		text-align: center;
		font-size: 2.8em;
		margin: 0.3em 0;
	}

	form {
		width: 70%;
		font-size: 1.2em;
		margin: 0 auto;

		label {
			display: block;
			margin-top: 8px;
			font-weight: 700;
		}

		input[type=text], input[type=number] {
			width: 40%;
			margin-top: 8px;
			padding: 8px 12px;
			border: 1px solid $hr-colour;
			border-radius: 4px;
			border: 1px solid transparent;
		}
		input[type=text]:focus, input[type=number]:focus, textarea:focus { border: 1px solid $light-blue; }

		input[type=number] { width: 20%; }

		textarea {
			width: 90%;
			resize: none;
			display: block;
			margin-top: 8px;
			padding: 8px 12px;
			border-radius: 4px;
			border: 1px solid transparent;
		}

		#project-dates {
			width: 90%;
			margin-left: 0;

			p { padding: 0; }
		}

		input[type=date] {
			width: 100%;
			margin-top: 8px;
			padding: 8px 12px;
			border: 1px solid transparent;
			border-radius: 4px;
		}
		input[type=date]:focus { border: 1px solid $light-blue; }

		select {
			width: 40%;
			margin-top: 8px;
			padding: 8px 12px;
			border: 1px solid transparent;
			border-radius: 4px;
			background: #fff;
		}
		select:focus { border: 1px solid $light-blue; }

		input[type=radio]:not(old){
			display: inline-block;
			width: 1em;
			height: 1em;
		}

		#priority-buttons {
			label {
				display: inline-block;
				font-weight: 500;
			}
		}

		input[type=submit] {
			background: $light-blue;
			color: #fff;
			text-transform: uppercase;
			font-weight: 900;
			padding: 12px 38px;
			border: none;
			border-radius: 6px;
			box-shadow: none;
			float: right;
		}
		input[type=submit]:hover { background: $blue; }

	}

	.project-tab {

		h2 {
			font-size: 1.8em;
			margin: 0;
		}

		.content {
			padding: 1em 4em;
			color: $blue;
			background: $grey-background2;
			border-radius: 4px;
		}

		button {
			background: $light-blue;
			color: #fff;
			text-transform: uppercase;
			font-weight: 900;
			font-size: 1em;
			padding: 8px 12px;
			border: none;
			border-radius: 4px;
			box-shadow: none;
		}
		button:hover { background: $blue; }
		button:focus { background: $light-blue; }

		.project-continue, .project-back {
			padding: 12px 18px;
		}
		.project-continue {
			float: right;
		}
	}

	#project-summary {
		font-size: 1.2em;

		.content {
			padding: 2em 4em 3em 4em;
		}

		h1 {
			font-size: 2.4em;
		}

		h3 {
		    text-align: center;
		    font-size: 1.5em;
		    margin: 0;
		    font-weight: 400;
		}

		#right-div {
			p {
				text-align: right;
			}
		}

		.row {
			margin: 1em;
		}

		#description_summary {
			margin: 2em 1em;
		}
	}

}

@media (max-width: 768px) {
	#create-project {

		form {
			width: 100%;

			input[type=text], textarea, select, #project-dates {
				width: 100%;
				margin-left: 0;
				margin-right: 0;
			}

			input[type=submit] {
				padding: 12px 55px 12px 55px;
				margin: 15px auto;
				display: block;
				text-align: center;
			}
		}

		.project-tab {

			.content {
				padding: 1em 1em;
			}
		}
	}
}

/* * * * Create Project Confirm * * * */
#project-confirm {
	width: 60%;
	margin: 0 auto;
	padding: 5em 0;
	text-align: center;
	color: $blue;

	h1 {
		font-size: 2.8em;
	}
	h3 {
		font-size: 1.5em;
	}

	.fa-check {
		color: $go-green;
		font-size: 12em;
	}
	h5 {
		font-size: 1.3em;
	}
	p {
		color: $light-blue;
	}
	a {
		text-decoration: underline;
	}
	a:hover {
		color: $blue;
	}
}

/* * * * addSkills page style section * * * */
#addSkill {
	#ASContainer {
	width: 50%;
	background: $grey-background2;
	color: $blue;
	font-family: $font;
	margin: 10px auto;
	border-radius: 4px;
	}

	h1 {
		padding-top: 20px;
		margin-top: 0;
		text-align: center;
		font-size: 2.8em;
		margin-bottom: 0;
	}
	p { margin: 10px 70px 0 70px; }

	form {
		padding: 0 10px 20px 20px;

		p { margin: 10px 70px 0 70px; }

		label {
			display: block;
			font-size: 1.2em;
			font-weight: 900;
		}

		input[type=text] {
			width: 100%;
			margin-top: 8px;
			padding: 8px 12px 8px 12px;
			border: 1px solid transparent;
			border-radius: 4px;
		}

		input[type=text]:focus { border: 1px solid $light-blue; }

		.row {
			margin-right: 70px;
			margin-left: 70px;
			p { padding: 0; margin-right: 0; margin-left: 0; }
			label { display:inline; font-size: 1em; }
		}
		#submit-row {
			margin-right: 0;
		}
	}
	input[type=submit] {
		background: $light-blue;
		color: #fff;
		text-transform: uppercase;
		font-weight: 900;
		padding: 10px 16px 10px 16px;
		margin-top: 15px;
		border: none;
		border-radius: 6px;
		box-shadow: none;
	}
	input[type=submit]:hover { background: $blue; }

		textarea {
		width: 100%;
		margin-top: 8px;
		margin-left: 12px;
		padding: 8px 12px 8px 12px;
		border: 1px solid transparent;
		border-radius: 4px;
	}
}

/* * * * Search page style section * * * */

#search {
	width: 80%;
	color: $blue;
	font-family: $font;
	margin: 0 auto;
	padding: 2em 0;
	position: relative;

	h1 {
		text-align: center;
		font-size: 2.8em;
	}
	h2 {
		font-size: 2.0em;
		margin-top: 0.3em;
		margin-bottom: 0;
	}
	button {
		background: $light-blue;
		color: #fff;
		text-transform: uppercase;
		font-weight: 900;
		font-size: 0.9em;
		padding: 8px 12px;
		border: none;
		border-radius: 4px;
		box-shadow: none;
	}
	button:hover { background: $blue; }
	button:focus { background: $light-blue; }
	#search-toggle {
		width: 100%;
		color: $blue;
		background: $grey-background2;
		margin-top: 1em;
		border-top: 2px solid $hr-colour;
	}
	#search-toggle:hover {
		background: $hr-colour;
	}

	.container-box {
		background: $grey-background2;
		width: 95%;
		margin: 10px auto;
		text-align: center;
	}

	#search-type {
		padding: 0 1em;
		
		button {
			color: $blue;
			background: $grey-background;
			font-weight: 700;
			font-size: 1.15em;
			padding: 1em;
			border-bottom: 2px solid $hr-colour;
		}
		button:hover, button:focus {
			background: $hr-colour;
		}

		#search-projects {
			border-right: 1px solid $hr-colour;
		}
		#search-users {
			border-left: 1px solid $hr-colour;
		}

		.active {
			text-decoration: underline;
			background: $grey-background2;
			border-bottom: none;
		}
		.active:hover {
			background: $grey-background2;
		}
	}

	hr {
		height: 1px;
		margin-top: 0.2em;
	}

	form {
		input[type=text] {
			margin-top: 8px;
			padding: 8px 12px 8px 12px;
			border: 1px solid transparent;
			border-radius: 4px;
		}
		input[type=text]:focus { border: 1px solid $light-blue; }

		input[type=submit] {
			background: $light-blue;
			color: #fff;
			text-transform: uppercase;
			font-weight: 900;
			padding: 10px 38px;
			margin-top: 15px;
			border: none;
			border-radius: 6px;
			box-shadow: none;
		}
		input[type=submit]:hover { background: $blue; }

		input[type=checkbox] {
			vertical-align: middle;
			color: #ffffff;
			height: 1.15em;
			width: 1.15em;
			margin-left: 7px;
			cursor: pointer;
		}
	}
	.bottom {
		position: absolute;
		bottom: 10em;
		left: 0.5em;
	}

	#search-results {
		margin-top: 3em;
		display: none;
		padding: 0 5em;

		hr { margin-bottom: 1em; }

		#results, #user-results {
			padding: 0 1em;

			i {
				display: block;
				margin: 1em auto;
			}
		}
	}
}

#project-search, #user-search {
	margin: 0 auto;
	padding: 1em;
	background: $grey-background2;

	input[type=text] { width: 60%; }
}

#user-search {
	display: none;
}

#advanced-search, #user-advanced-search {
	width: 100%;
	text-align: left;
	padding: 1em 2em;
	display: none;

	hr { margin-top: 1em; }

	h2 {
		width: 85%;
		margin: 0.5em auto;
	}

	p {
		width: 85%;
		margin: 5px auto;
	}

	.container-fluid {
		margin: 0 auto;
		text-align: center;

		div { text-align: left; }

		label {
			font-size: 1.2em;
			font-weight: 900;
		}

		input[type=text] {
			width: 90%;
		}

		input[type=date] {
			text-align: left;
			padding: 8px 12px 8px 12px;
			border: 1px solid transparent;
			border-radius: 4px;
		}

		select {
			width: 60%;
			padding: 8px 12px 8px 12px;
			border: 1px solid transparent;
			border-radius: 4px;
			font-weight: 900;
			background: #fff;
		}

		.date-row {
			margin: 0.8em 1em;
			display: flex;
			justify-content: flex-end;
			align-items: center;

			label {
				display: block;
				text-align: right;
			}
		}
	}
}

.search-result, .project-result {
	color: $blue;
	text-decoration: none;
	display: block;
	padding: 1em 2em;
	border: thin solid $grey-background2;

	div.row {
		display: flex;
		min-height: 100%;
		flex-direction: row;
	}

	hr { margin-bottom: 0.7em; }

	h3 {
		margin: 0;
		font-size: 1.5em;
	}
	h5 {
		margin-top: 0;
		margin-bottom: 0.6em;
		font-weight: 900;
		font-size: 1em;
	}
	span {
		text-align: right;
	}
	p {
		margin-top: 0;
	}
	i {
		display: inline-block !important;
		margin: 0 !important;
	}
	.right {
		text-align: right;

		.col-md-6 {
			padding: 0;
		}

		.g-button {
			padding: 8px 13px;
			display: block;
			width: 85%;
			margin: 0 auto;
			height: 36px;
		}
	}
}
.project-result:hover {
	text-decoration: none;
	background: $grey-background;
}
.project-result:not(:last-child) {
	margin-bottom: 1em;
}

/**** My projects section - Aisha code here ****/

#current-projects {
  	font-family: $font;
  	color: $blue;
	margin: 0 auto;
	padding: 3em 0;
	width: 80%;

    h1 {
        margin: 0 0 0 10px;
        font-size: 2.4em;
    }

    #dropdown-menu {
        margin: 0.8em 1em;
        position: relative;
        right: 0px;

        label {
            font-size: 1.2em;
		    font-weight: 900;
		    position: relative;
		    right: 0px;
        }
    }

	.projects {
		padding: 2em;
		display: block;
		min-height: 350px;
        background: $grey-background2;
        margin-bottom: 2em;

		.project-result {
			background: #ffffff;
			border: 1px solid $hr-colour;
			border-radius: 4px;
			padding: 1.6em;

			p {
				margin-bottom: 0;
			}
		}
	}
}

/**** Project Dashboard section - Daniel code here ****/
#project-dashboard {
	width: 80%;
	color: $blue;
	font-family: $font;
	margin: 1.5em auto;
	font-size: 1.2em;

	.visit-link { color: $light-blue; }
	.visit-link:hover { color: $blue; }

	h1 {
		text-align: center;
		font-size: 2.4em;
	}

	h2 {
		text-align: left;
		font-size: 2em;
		margin: 0;
		font-weight: 700;
	}

	#project-title {
		margin-top: 1em;
		margin-bottom: 2em;
  		border-right: 1px solid $hr-colour;
  		font-size: 0.9em;
  		text-align: center;

  		h2 {
  			text-align: center;
  			font-weight: 400;
  			font-size: 1.6em;
  		}

  		hr {
  			margin: 1em 0;
  		}

  		.g-button {
  			width: 70%;
  			margin: 0 auto;
  		}
  		.g-button:focus {
  			text-decoration: none;
  			color: #ffffff;
  		}

	}

	#project-details {
		padding: 1em 2em;

		#right-div {
			p {
				text-align: right;
			}
		}
	}

	#project-notifications, #project-staff {
		width: 85%;
		padding: 1em;
	}

	#project-staff {
		
		#staff-head {
			font-size: 1.3em;
			font-weight: 900;

			p {
				margin-bottom: 0.5em;
			}
		}

		.staff {
			display: block;
			text-decoration: none;
			margin-bottom: -1px;
			color: $blue;
			cursor: pointer;
			border-radius: 4px;
			border: 1px solid $grey-background2;
			border-top: 1px solid $hr-colour;
			border-bottom: 1px solid $hr-colour;

			h4 {
				margin-bottom: 0;
			}

			p {
				margin: 0.5em 0;
			}

			.skill-span {
				font-size: 0.8em;
				padding: 4px 12px;
				border: 1px solid $blue;
			}
		}
		.staff:hover {
			text-decoration: none;
			background: $grey-background2;
		}
		.staff:first-child {
			border-top: 1px solid $grey-background2;
		}
	}
}

/** Project status **/
.circle {
	width: 1em;
	height: 1em;
	display: inline-block;
	-moz-border-radius: 50%;
	-webkit-border-radius: 50%;
	border-radius: 50%;
	margin-bottom: -2px;
}
.green {
	background: $go-green;
}
.yellow {
	background: #f1c40f;
}
.blue {
	background: $light-blue;
}
.orange {
	background: #f39c12;
}
.red {
	background: $delete-red;
}
.green-c {
	color: $go-green;
}


/* * * * Privacy Policy and Terms of Use Pages * * * */
#privacy-policy, #terms-of-use {
	width: 90%;
	font-size: 1.2em;
	color: $blue;
	font-family: $font;
	margin: 4em auto;

	h1 {
		width: 90%;
		margin: 0 auto;
		margin-bottom: 0;
		-webkit-margin-after: 0;
	}

	.container-box {
		background: $grey-background2;
		width: 90%;
		text-align: left;
		border-radius: 4px;
		padding: 2em 3em;
		margin: 0 auto;
	}
	hr {
		width: 90%;
	}
	.scroll-button{ font-size: 3.5em !important; }
}

/* * * * Project Panel * * * */
#project-management-panel {
	width: 90%;
	margin: 0 auto;
	padding: 1em 0;

	h1 {
		margin-bottom: 0;
	}
	h2 {
		margin-bottom: 0;
	}

	.tab {

		form {
			font-size: 1em;
			margin: 0 auto;

			input[type=text], input[type=date] {
				width: 70%;
				margin-top: 8px;
				padding: 8px 12px;
				border: 1px solid transparent;
				border-radius: 4px;
			}
			input[type=date] {
				width: 95%;
			}

			input[type=submit] {
				background: $light-blue;
				color: #fff;
				text-transform: uppercase;
				font-weight: 900;
				margin-top: 8px;
				padding: 8px 12px;
				border: none;
				border-radius: 4px;
				box-shadow: none;
				float: right;
			}
			input[type=submit]:hover { background: $blue; }

			textarea {
				width: 70%;
				margin-top: 8px;
				padding: 8px 12px;
				border: 1px solid transparent;
				border-radius: 4px;
			}
			select {
				width: 30%;
				margin-top: 8px;
				padding: 8px 12px;
				border: 1px solid transparent;
				border-radius: 4px;
				background: #fff;
			}

			input[type=text]:focus, input[type=date]:focus, 
				select:focus, textarea:focus { border: 1px solid $light-blue; }

			label {
				display: block;
				font-weight: 900;
			}
			button {
				background: $light-blue;
				color: #fff;
				text-transform: uppercase;
				font-weight: 900;
				font-size: 1em;
				padding: 8px 12px;
				border: none;
				border-radius: 4px;
				box-shadow: none;
			}
			button:hover { background: $blue; }
			button:focus { background: $light-blue; }

			input[type=radio]:not(old){
				display: inline-block;
				width: 1em;
				height: 1em;
			}
		}

		.content, .content-small {
			background: $grey-background2;
			padding: 1.5em 2em;
		}

		.content-small {
			width: 60%;
		}

		.staff {
			display: block;
			text-decoration: none;
			margin-bottom: -1px;
			color: $blue;
			cursor: pointer;
			border-radius: 4px;
			border: 1px solid $grey-background2;
			border-top: 1px solid $hr-colour;
			border-bottom: 1px solid $hr-colour;

			h4 {
				margin-bottom: 0;
			}

			p {
				margin: 0.5em 0;
			}

			.skill-span {
				font-size: 0.8em;
				padding: 4px 12px;
				border: 1px solid $blue;
			}
		}
		.staff:hover {
			text-decoration: none;
			background: $grey-background2;
		}
		.staff:first-child {
			border-top: 1px solid $grey-background2;
		}
	}
}

#left-bar {
	padding-left: 0;
	margin-top: 1em;

	h3, span { width: 95%; margin: 0 auto; }
	span { display: block; }

	ul {
		list-style: none;
		padding: 0;
		margin-top: 0;
		color: $blue;
		background: $grey-background2;

		li {
			text-align: left;
			background: $grey-background2;
			border-top: 1px solid $hr-colour;
			border-bottom: 1px solid $hr-colour;

			button {
				text-align: left;
				height: 100%;
				width: 100%;
				padding: 8px 12px;
				border: none;
				background: none;
			}
			a {
				display: block;
				height: 100%;
				width: 100%;
				padding: 8px 12px;
				color: $blue;
			}
			a:hover {
				color: $blue;
				text-decoration: none;
			}
		}
		li:first-child {
			border-top: none;
		}
		li:last-child {
			border-bottom: none;
		}
		li:hover {
			background: $hr-colour;
		}
		.active {
			background: $hr-colour;
		}
	}
}

.application, .staff-container {
	margin: 0.5em 1em;
	padding: 1em 1.5em;
	border: 1px solid $grey-background2;
	border-radius: 4px;
	font-size: 1.1em;

	h3 {
		font-size: 1.3em;
		margin-bottom: 0;
	}

	span.right {
		margin-top: 1.35em;
		padding-right: 30px;
	}

	.right {
		text-align: right;
	}

	.location { margin-top: 0; }

	p {
		margin: 0.5em 0;
	}

	.application-reject:hover {	background: $delete-red; }
	.application-accept:hover {	background: $go-green; }
	.remove-staff:hover { background: $delete-red; }

}

.staff-container {

}

#edit-project {

	form {
		width: 90%;
		margin: 0 auto;
	}
	h2 {
		margin: 0;
	}
	#search-dates, #project-dates {
		width: 90%;
		margin-left: 0;

		p { padding: 0; }
	}
	#priority-buttons {
		label {
			display: inline-block;
			font-weight: 500;
		}
	}
	
	.project-continue { float: right; }
}

#add-staff {
	padding-bottom: 2em;

	#search-staff-form {
		margin-bottom: 1em;

		input[type=text] {
			width: 95%;
		}
		select {
			width: 95%;
		}
		button {
			margin: 8px 0;
		}
	}

	#allocate-staff-form {
		input[type=text] {
			width: 50%;
		}
	}

	#search-results {
		display: none;

		hr { margin-bottom: 1em; }

		#results {
			padding: 0 1em;
		}
	}
	i {
		display: block;
		margin: 1em auto;
	}
}
.staff-result {
	color: $blue;
	display: block;
	padding: 1em 3em;
	border: thin solid $grey-background2;
	
	h5 {
		margin-top: 0;
		margin-bottom: 0.3em;
		font-weight: 900;
		font-size: 1.3em;
	}

	hr { margin-bottom: 0.7em; }

	.row {
		margin: 0 1em;
	}
	p {
		margin-top: 0;
	}

	.location, .pay-rate { text-align: right; }
	
	.staff-availability {
		text-align: right;
		font-weight: 900;
		font-size: 1.2em;
		color: $delete-red;
		margin-top: 1em;
		margin-bottom: 0;
	}
}
.staff-result:hover {
	background: $grey-background;
}

.profile-popup, .project-popup {
	-webkit-box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
	-moz-box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);

	.ui-dialog-titlebar {
		background: $blue;
		color: #ffffff;
		font-family: $font;
	}

}

/* * * * Not found page * * * */
#page-not-found {
	width: 40%;
	margin: 4em auto;
	text-align: center;
	font-size: 1.3em;

	.fa {
		display: block;
		margin-bottom: 0.5em;
	}
}

#application {
	width: 70%;
	margin: 2em auto;

	h1 {
		font-size: 2.5em;
		margin-bottom: 0;
	}

	form {
		background: $grey-background2;
		padding: 3em 4em;
		border-radius: 4px;

		textarea {
			width: 70%;
			padding: 8px 12px;
			border: 1px solid transparent;
			border-radius: 4px;
			margin: 0 auto;
		}
		textarea:focus { border: 1px solid $light-blue; }

		input[type=submit] {
			background: $light-blue;
			color: #fff;
			text-transform: uppercase;
			font-weight: 900;
			padding: 10px 16px 10px 16px;
			margin-top: 20px;
			border: none;
			border-radius: 6px;
			box-shadow: none;
			float: right;
		}
		input[type=submit]:hover { background: $blue; }
	}

}
