@import "layout";

/* Fonts */
$microsoft-font: "Microsoft JhengHei";
//$YuGothic-font: "Yu Gothic";

/* Colours used */
$purple: #993399;
$blue: #1f1646;
$grey-background: #ECF0F1;
$grey-background2: #E1E5E6;
$light-blue: #0389ff;

$nav-font-color: white;
$nav-hover-color: #0389ff;

html, body{
	width: 100%;
	overflow-x:hidden;
	margin: 0;
	padding: 0;
}

body {
	background-color: white;
	font-family: $microsoft-font, 'Open Sans', sans-serif; // Test files -- change values
}

/* * * * General style section * * * */
a.button {
    -webkit-appearance: button;
    -moz-appearance: button;
    appearance: button;

    text-decoration: none;
    color: initial;
}

/* * * * Navigation bar style section * * * */
nav {
	position: relative;
	overflow: hidden;
	font-family: $microsoft-font;
	background: white;

	#logo {
		position: relative;
		width: 200px;
		height: auto;
		margin: 15px 0 15px 10px;
		z-index: 2;
	}
	
	#bg {
		width: 75%;
		height: auto;

		position: absolute;
		top: 0;
		right: 0;
		z-index: 0;
	}

	div {
		background: $blue;
		font-size: 1.4em;
		position: relative;
		z-index: 2;

		ul {
			list-style: none;
			display: inline;
			padding-left: 85px;

			li {
				display: inline-block;
				line-height: 30px;

				a {
					text-decoration: none;
					display: block;
					color: $nav-font-color;
					padding: 12px 16px 12px 16px;
				}
				a:hover {
					text-decoration: none;
					color: $nav-hover-color;
				}
			}
		}

		#logout {
			display: inline-block;
			padding: 12px;
			color: $nav-font-color;
			margin-right: 50px;
			float: right;
		}

		#logout:hover {
			text-decoration: none;
			color: $nav-hover-color;
		}
	}
}

/* * * * Footer style section * * * */
footer {
	width: 100%;
	height: 100px;
	background: $blue;
	color: $nav-font-color;
	text-align: center;
	padding: 15px;
	font-family: "Microsoft JhengHei";
	position: relative;
	bottom: 0;

	ul {
		list-style: none;
		display: inline;
		text-align: center;
		padding-left: 0;

		li {
			display: inline-block;
			padding: 12px;
			text-align: center;

			a {
				text-decoration: none;
				padding: 0;
				display: block;
				color: $nav-font-color;
			}
			a:hover { color: $nav-font-color; }
		}
	}

	#footer-bottom { text-align: center; text-transform: uppercase; font-size: .8em; }

	#footer-right {
		padding-top: 10px;
		text-align: right;

		p { color: $nav-font-color; margin-top: 0; font-size: .7em; }
		img { width: 150px; height: auto; }
	}
}

@media (max-width: 767px) {
  	footer {
    	height: 260px;
    	#footer-right { padding-top: 10px; text-align: center; }
  	}
}
@media (min-width: 768px) and (max-width: 1135px) {
  	footer {
    	height: 200px;
    	#footer-right { padding-top: 20px; text-align: center; }
  	}
}

/* * * * Login style section * * * */
#login-container {
	width: 50%;
	background: $grey-background;
	color: $blue;
	font-family: $microsoft-font;
	margin: 100px auto;
	padding-top: 20px;
	border-radius: 4px;

	h1 {
		padding-top: 20px;
		margin-top: 0;
		text-align: center;
		font-size: 2.8em;
		margin-bottom: 0;
	}

	form {
		padding: 0 10px 20px 20px;

		p { margin: 10px 70px 0 70px; }

		label {
			display: block;
			font-size: 1.2em;
			font-weight: 900;
		}

		input[type=text], input[type=password] {
			width: 100%;
			margin-top: 8px;
			padding: 8px 12px 8px 12px;
			border: 1px solid transparent;
			border-radius: 4px;
		}

		input[type=text]:focus, input[type=password]:focus { border: 1px solid $light-blue; }

		.row {
			margin-right: 70px;
			margin-left: 70px;
			p { padding: 0; margin-right: 0; margin-left: 0; }
			label { display:inline; font-size: 1em; }
		}

		input[type=checkbox] {
			vertical-align: middle;
			color: #ffffff;
			height: 1.15em;
			width: 1.15em;
			margin-left: 7px;
			cursor: pointer;
		}

		a {
			text-decoration: underline;
			margin-top: 6px;
			padding-right: 0;
			text-align: right;
			color: $light-blue;
		}
		a:hover { color: $blue; }

		input[type=submit] {
			background: $light-blue;
			color: #fff;
			text-transform: uppercase;
			font-weight: 900;
			padding: 10px 16px 10px 16px;
			margin-top: 15px;
			border: none;
			border-radius: 6px;
			box-shadow: none;
		}
		input[type=submit]:hover { background: $blue; }

		#submit-row {
			margin-right: 0;
		}
	}
}

#login-logo {
	display: inline-block;
	text-align: right;
	margin-right: 20px;
	margin-top: 20px;
	float: right;

	img { height: 35px; width: 135px; }
	p { margin-right: 0; font-size: .8em; }
}

@media (max-width: 768px) {
	body { background: $grey-background; }
  	#login-container {
  		width: 100%;
  		margin-top: 0px;

  		form {
			padding: 0 10px 20px 20px;

			p { margin: 10px 10px 0 10px; }

			.row { margin-right: 10px; margin-left: 10px; }

			input[type=submit] {
				padding: 12px 55px 12px 55px;
				margin: 15px auto;
				display: block;
				text-align: center;
			}
		}
  	}
}

/* * * * Home style section * * * */
#homePage {

	background: $grey-background2;

	#HomeContainer {
		background: white;
		margin: 10px auto;
		border: 1px solid;
		padding: 5px, 5px, 5px, 5px;
	}
	#shift-left {
		padding-left: 10px;
		padding-right: 10px;
		width: 50%;
		float: left;
		margin: auto;
	}
	#shift-right {
		padding-left: 10px;
		padding-right: 10px;
		width: 50%;
		float: right;
		margin: auto;
	}

/*add fonts?
	#notification {
		font-family: "Calibri";
	}
	#timeStamp {
		font-family: Arial;
		font-style: bold;
	}*/


	h2 {
		padding-top: 5px;
		margin-top: 0;
		text-align: left;;
		font-size: 1.8em;
		margin-bottom: 0;
		color: $blue;
	}

	hr {
			border: none;
			height: 2px;
			background-color: #C0C0C0;
	}

	p { margin: 10px 70px 0 70px; }

	label {
		display: block;
		font-size: 1.2em;
		font-weight: 900;
	}

	.row {
		margin-right: 70px;
		margin-left: 70px;
		p { padding: 0; margin-right: 0; margin-left: 0; }
		label { display:inline; font-size: 1em; }
	}

	button {
		background: $light-blue;
		color: #fff;
		text-transform: uppercase;
		font-weight: 900;
		padding: 10px 16px 10px 16px;
		margin-top: 10px;
		margin-bottom: 10px;
		border: none;
		border-radius: 6px;
		box-shadow: none;
		width: 100%;
	}
	button:hover { background: $blue; }

}

/* * * * Profile page style section * * * */
.container-block {
	background: $grey-background;
	padding: 20px;
}

#skills {
	color: $blue;
	padding: 20px 30px 30px 30px;

	.row {
		margin: 0 20px 5px 20px;
		position: relative;
	}

	h1 {
		//margin-bottom: 0;
		//margin-top: 0.67em;
		display: inline;
	}

	#skill-set {
		input[type=drowdown] {

		}

	}

	#skill-edit {
		position: absolute;
    	bottom: 0;
    	right: 0;
		padding: 0!important;
		border: none;
		display: inline;
		float: right;
		color: $light-blue;
		background: none!important;
		outline: none;
		outline-offset: 0;
		outline-color: transparent;
	}
	#skill-edit:hover { text-decoration: underline; }

	#skill-add {
		visibility: hidden;
		display: none;
	}
}

.skill-span {
	display: inline-block;
	position: relative;
	color: $blue;
	font-family: $microsoft-font;
	padding: 5px 18px 5px 18px;
	margin: 5px;
	border: 2px solid $grey-background2;
	border-radius: 8px;
	font-weight: 900;

	.delete-tag {
		cursor: pointer;
		padding: 3px;
		position: relative;
		right: -10px;
		vertical-align: center;
		display: none;
	}

}



/* * * * Create new project page style section * * * */
#userProfile {

	#UPContainer {
		width: 100%;
		background: $grey-background2;
		color: $blue;
		font-family: $microsoft-font;
		margin: 10px auto;
		border-radius: 4px;
	}

	hr {
		height: 2px;
		background: $grey-background2;
		margin-top: 0;
	}

	/*h1 {
		padding-top: 5px;
		text-align: left;;
		font-size: 1.8em;
		margin-bottom: 0;
		color: $blue;
	}

	hr {
			border: none;
			height: 1px;
			background-color: #C0C0C0;
	}*/

	form {
		padding: 0 10px 20px 20px;

		p { margin: 10px 70px 0 70px; }

		label {
			display: block;
			font-size: 1.2em;
			font-weight: 900;
		}

		input[type=text] {
			width: 75%;
			margin-top: 8px;
			padding: 8px 12px 8px 12px;
			border: 1px solid transparent;
			border-radius: 4px;
		}

		 	textarea {
			width: 100%;
			margin-top: 8px;
			padding: 8px 12px 8px 12px;
			border: 1px solid transparent;
			border-radius: 4px;
		}

		input[type=text]:focus { border: 1px solid $light-blue; }

		.row {
			margin-right: 70px;
			margin-left: 70px;
			p { padding: 0; margin-right: 0; margin-left: 0; }
			label { display:inline; font-size: 1em; }
		}

		input[type=submit] {
			background: $light-blue;
			color: #fff;
			text-transform: uppercase;
			font-weight: 900;
			padding: 10px 16px 10px 16px;
			margin-top: 15px;
			border: none;
			border-radius: 6px;
			box-shadow: none;
		}
		input[type=submit]:hover { background: $blue; }
	}
}

/* * * * Create new project page and allocate resources style section * * * */
#newProject {

	#NPcontainer {
	width: 100%;
	background: $grey-background2;
	color: $blue;
	font-family: $microsoft-font;
	margin: 10px auto;
	border-radius: 4px;
	}

	h1 {
		padding-top: 20px;
		margin-top: 0;
		text-align: center;
		font-size: 2.8em;
		margin-bottom: 0;
	}

	h2 {
		padding-top: 5px;
		margin-top: 0;
		text-align: left;;
		font-size: 1.8em;
		margin-bottom: 0;
	}

	hr {
			border: none;
			height: 2px;
			background-color: #C0C0C0;
	}
	form {
		padding: 0 10px 20px 20px;

		p { margin: 10px 70px 0 70px; }

		label {
			display: block;
			font-size: 1.2em;
			font-weight: 900;
		}

		input[type=text] {
			width: 50%;
			margin-top: 8px;
			padding: 8px 12px 8px 12px;
			border: 1px solid transparent;
			border-radius: 4px;
		}

		input[type=text]:focus { border: 1px solid $light-blue; }

		.row {
			margin-right: 70px;
			margin-left: 70px;
			p { padding: 0; margin-right: 0; margin-left: 0; }
			label { display:inline; font-size: 1em; }
		}

		input[type=submit] {
			background: $light-blue;
			color: #fff;
			text-transform: uppercase;
			font-weight: 900;
			padding: 10px 16px 10px 16px;
			margin-top: 15px;
			border: none;
			border-radius: 6px;
			box-shadow: none;
		}
		input[type=submit]:hover { background: $blue; }
	}
}

/* * * * addSkills page style section * * * */
#addSkill {
	#ASContainer {
	width: 50%;
	background: $grey-background2;
	color: $blue;
	font-family: $microsoft-font;
	margin: 10px auto;
	border-radius: 4px;
	}

	h1 {
		padding-top: 20px;
		margin-top: 0;
		text-align: center;
		font-size: 2.8em;
		margin-bottom: 0;
	}
	p { margin: 10px 70px 0 70px; }

	form {
		padding: 0 10px 20px 20px;

		p { margin: 10px 70px 0 70px; }

		label {
			display: block;
			font-size: 1.2em;
			font-weight: 900;
		}

		input[type=text] {
			width: 100%;
			margin-top: 8px;
			padding: 8px 12px 8px 12px;
			border: 1px solid transparent;
			border-radius: 4px;
		}

		input[type=text]:focus { border: 1px solid $light-blue; }

		.row {
			margin-right: 70px;
			margin-left: 70px;
			p { padding: 0; margin-right: 0; margin-left: 0; }
			label { display:inline; font-size: 1em; }
		}
		#submit-row {
			margin-right: 0;
		}
	}
	input[type=submit] {
		background: $light-blue;
		color: #fff;
		text-transform: uppercase;
		font-weight: 900;
		padding: 10px 16px 10px 16px;
		margin-top: 15px;
		border: none;
		border-radius: 6px;
		box-shadow: none;
	}
	input[type=submit]:hover { background: $blue; }

	 	textarea {
		width: 100%;
		margin-top: 8px;
		margin-left: 12px;
		padding: 8px 12px 8px 12px;
		border: 1px solid transparent;
		border-radius: 4px;
	}
}
/* * * * addSkills page style section * * * */
#search {
	vertical-align:center;
	max-width:1000px;
	left:50%;
	width: 100%;
	//background: $grey-background2;
	color: $blue;
	font-family: $microsoft-font;
	margin: 10px auto;
	border-radius: 4px;
	label{
		color:$blue;
	}
	hr {
			border: none;
			height: 1px;
			background-color: #C0C0C0;
	}
	h1 {
		padding-top: 20px;
		margin-top: 0;
		text-align: center;
		font-size: 2.8em;
		margin-bottom: 0;
		color: $blue;
	}
	h2 {
		padding-top: 20px;
		margin-top: 0;
		text-align: left;
		font-size: 2.0em;
		margin-bottom: 0;
		color: $blue;
	}
	p { margin: 10px 70px 0 70px;
		color:$blue;
	}

	label {
		display: block;
		font-size: 1.2em;
		font-weight: 900;
		padding-top: 5px;
	}
	form {
		padding: 0 10px 20px 20px;

		p { margin: 10px 70px 0 70px; }

		label {
			display: block;
			font-size: 1.2em;
			font-weight: 900;
		}

		input[type=text] {
			width: 100%;
			margin-top: 8px;
			padding: 8px 12px 8px 12px;
			border: 1px solid transparent;
			border-radius: 4px;
		}

		input[type=text]:focus { border: 1px solid $light-blue; }

		.row {
			margin-right: 70px;
			margin-left: 70px;
			p { padding: 0; margin-right: 0; margin-left: 0; }
			label { display:inline; font-size: 1em; }
		}

	}
	input[type=submit] {
		background: $light-blue;
		color: #fff;
		text-transform: uppercase;
		font-weight: 900;
		padding: 10px 16px 10px 16px;
		margin-top: 15px;
		border: none;
		border-radius: 6px;
		box-shadow: none;

	}
	input[type=submit]:hover { background: $blue; }

	#submitAdvancedSearch{
		margin-left:auto;
		display: block;
	}
	#quick-search-button{
		margin:auto;
	}
	#quick-search{
		margin-top: 20px;
		background: $grey-background2;
		clear:none;
		input[type=text]{
			margin-top: 15px;
			margin-left: 0;
			margin-right: auto;
			width:80%;
		}
	}

	#column1{
		
		float:left;
		width: 50%;
	}
	#column2{
		float:right;
		width: 50%;

	}

	
	#advanced-search{
		background: $grey-background2;
		input[type=text]{
				width:50%;
			}

		#projectInput{
			
			margin-right:10px;

		}

	}
	#resultsTitle{
 		float:left;
		}
	#resultsSorting{
		float:right;
		text-align: right;
	}


	#search-results{
		width:100%;
		display: inline-block;


	}
	
}
